@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

:root {
  /* Defaults */
  --default-font-size: 1.6rem;
  --default-font-weight: 400;
  --default-line-height: 1.5;

  /* Colors */
  --color-white: #fff;
  --color-primary: #222d44;
  --color-secondary: #70c1b3;

  /* Fonts */
  --font-primary: 'Roboto Slab', sans-serif;
  --font-secondary: poppins, sans-serif;
}
