@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

:root {
  /* Defaults */
  --default-font-size: 1.6rem;
  --default-font-weight: 400;
  --default-line-height: 1.5;

  /* Colors */
  --color-white: #f7f7f7;
  --color-primary: #368180;
  --color-secondary: #d4e1ed;
  --color-tertiary: #a64253;

  /* Fonts */
  --font-primary: 'Roboto Slab', sans-serif;
  --font-secondary: poppins, sans-serif;
}
