.content {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 56.25em) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .text {
    grid-row: 2;
  }
}

.bio {
  margin-bottom: var(--size-4);
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.heading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
}

.listHeading {
  color: var(--color-secondary);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-0);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--size-1);
}

.list:last-child {
  margin-bottom: 0;
}

.item {
  margin-right: var(--size-1);
}

.icon {
  color: var(--color-secondary);
  margin-right: var(--size-0);
}

.image {
  border: var(--border);
  height: auto;
  margin: 0 auto;
  margin-bottom: var(--size-4);
  width: 50%;
}

.socialList {
  display: flex;
  justify-content: center;
}

.socialItem {
  margin-right: var(--size-4);
}

.socialItem:last-child {
  margin-right: 0;
}

.socialIcon {
  color: var(--color-secondary);
  font-size: var(--size-4);
}

@media (hover: hover) and (pointer: fine) {
  .socialIcon:hover {
    color: var(--color-primary);
  }
}
