.content {
  align-items: center;
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media only screen and (max-width: 56.25em) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .text {
    grid-row: 2;
  }
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.heading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
}

.listHeading {
  color: var(--color-secondary);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-0);
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--size-1);
}

.list:last-child {
  margin-bottom: 0;
}

.item {
  margin-right: var(--size-1);
}

.icon {
  color: var(--color-secondary);
  margin-right: var(--size-0);
}

.image {
  border: var(--border);
  margin-bottom: var(--size-4);
  width: 36rem;
}

@media only screen and (max-width: 37.5em) {
  .image {
    width: 24rem;
  }
}

.socialList {
  display: flex;
  justify-content: center;
}

.socialItem {
  margin-right: var(--size-3);
}

.socialItem:last-child {
  margin-right: 0;
}

.socialIcon {
  color: var(--color-secondary);
  font-size: var(--size-4);
}

.socialIcon:hover {
  color: var(--color-primary);
}
