.section {
  padding: 8rem 0;
}

.container {
  margin: 0 auto;
  max-width: 98rem;
}

.primaryHeading {
  border-bottom: 0.4rem solid var(--color-secondary);
  color: var(--color-secondary);
  font-size: 3.2rem;
  margin-bottom: 4rem;
}

.content {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(2, 1fr);
}
