.content {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 56.25em) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.list {
  display: flex;
  justify-content: center;
}

.item {
  margin-right: var(--size-2);
}

.item:last-child {
  margin-right: 0;
}

.link {
  color: var(--color-secondary);
  font-size: var(--font-size-1);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: var(--color-primary);
  }
}

.icon {
  font-size: var(--font-size-3);
  margin-right: var(--size-0);
}
