.footer {
  align-items: center;
  background-color: var(--color-white);
  border-top: var(--border);
  display: flex;
  height: var(--footer-height);
  justify-content: space-between;
  padding-left: var(--size-3);
  padding-right: var(--size-3);
}

.text {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--font-size-1);
}

.link {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--font-size-1);
}

.link:hover {
  color: var(--color-secondary);
}

.icon {
  margin-left: var(--size-0);
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding-left: var(--size-0);
    padding-right: var(--size-0);
  }
}
