.header {
  align-items: center;
  background-color: var(--color-white);
  display: flex;
  height: 8rem;
  justify-content: space-between;
  padding: 0 3.2rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: 2rem;
}

.navList {
  display: flex;
}

.navItem {
  margin-right: 2rem;
}

.navItem :last-child {
  margin-right: 0;
}

.navLink {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 2rem;
}

.navLink:hover {
  color: var(--color-secondary);
}
