.header {
  align-items: center;
  background-color: var(--color-white);
  border-bottom: var(--border);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding-left: var(--size-3);
  padding-right: var(--size-3);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: var(--font-size-2);
}

@media only screen and (max-width: 37.5em) {
  .logo {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .logo:hover {
    color: var(--color-primary);
  }
}

.navList {
  display: flex;
}

.navItem {
  margin-right: var(--size-3);
}

.navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--font-size-2);
}

@media (hover: hover) and (pointer: fine) {
  .navLink:hover {
    color: var(--color-secondary);
  }
}
