.hero {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.heroText {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .heroText {
    width: 75%;
  }
}

.heroPreText {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: var(--font-size-2);
}

.heroPrimaryText {
  color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: var(--font-size-6);
}

.heroSecondaryText {
  color: var(--color-primary);
  font-size: var(--font-size-4);
}
