.heading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.link {
  color: var(--color-secondary);
  font-size: var(--font-size-1);
}

.link:hover {
  color: var(--color-primary);
}
