.content {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

@media only screen and (max-width: 56.25em) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project p {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-1);
}

.heading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
}

.link {
  color: var(--color-primary);
  font-size: var(--font-size-1);
  margin-right: var(--size-1);
}

.link:last-child {
  margin-right: 0;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: var(--color-secondary);
  }
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.secondaryHeading {
  color: var(--color-secondary);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-0);
  margin-top: var(--size-1);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: var(--size-1);
}

.icon {
  color: var(--color-secondary);
  margin-right: var(--size-0);
}

.image {
  border: var(--border);
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .image {
    grid-row: 1;
  }
}
