.content {
  display: grid;
  gap: var(--size-4);
  grid-template-columns: repeat(2, 1fr);
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.heading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
}

.link {
  color: var(--color-primary);
  font-size: var(--font-size-2);
  margin-right: var(--size-1);
}

.link:last-child {
  margin-right: 0;
}

.link:hover {
  color: var(--color-secondary);
}

.paragraph {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  margin-bottom: var(--size-1);
}

.secondaryHeading {
  color: var(--color-secondary);
  font-size: var(--font-size-2);
  margin-bottom: var(--size-1);
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: var(--size-1);
}

.icon {
  color: var(--color-secondary);
  margin-right: var(--size-0);
}

.image {
  border: var(--border);
  height: 28rem;
}
