.section {
  margin-bottom: var(--size-8);
  margin-left: var(--size-3);
  margin-right: var(--size-3);
  margin-top: var(--size-8);
}

.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

.heading {
  border-bottom: var(--border);
  color: var(--color-secondary);
  font-size: var(--size-3);
  margin-bottom: var(--size-5);
  position: relative;
}

.heading span {
  position: absolute;
  top: calc(-1 * var(--header-height));
}

@media only screen and (max-width: 56.25em) {
  .section {
    margin-bottom: var(--size-6);
    margin-top: var(--size-6);
  }

  .heading {
    margin-bottom: var(--size-3);
  }
}
